<h2 class="page-header">Search Categories</h2>
<form action="/authors" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>Category Name</label>
      <input type="text" name="name" value="<%= searchOptions.name %>">
    </div>
  </div>
  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>
<br>
<% categories.forEach(category => { %>
  <div class="author-row">
    <div class="author-name"><%= category.name %></div>
    <div class="btn-row">
      <a class="btn btn-primary" href="/categories/<%= category.id %>">View</a>
      <a class="btn btn-primary" href="/categories/<%= category.id %>/edit">Edit</a>
      <%- include('../partials/deleteForm',
                  { url: `/categories/${category.id}` }) %>
    </div>
  </div>
<% }) %>